*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    background-image: url(../images/background.webp);
    background-repeat:no-repeat ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-shadow: 7px 7px 10px black;
}
.mesg, form{
    text-shadow: 5px 5px 10px black;
    background-color:rgba(253, 29, 149, 0.521);
    color:white;
    box-shadow: 0px 0px 500px rgba(253, 29, 149, 0.521);
    padding: 70px;;
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.678);
    text-align: center;
    font-size: 20px;
    /* display: none; */
}
.mesg{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 557px;
    width: 413px;
    display: none;
}
.text{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.329);
}
button{
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    color: rgba(253, 29, 148, 0.822);
    background-color: black;
    border-radius: 20px;
}
a{
    display: inline;
    color: rgb(178, 175, 207);
    font-size:17px;
    font-family:Arial, Helvetica, sans-serif;
}
footer{
    border-top:5px solid rgba(0, 0, 0, 0.678) ;
    padding: 5px;
    color: white;
    position: fixed;
    bottom: 0px;
    background-color:rgba(253, 29, 149, 0.521);
    width: 100vw;
    text-align: center;
    font-size: 20px;
}
input{
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    border: 5px solid rgb(0, 0, 0);
}
input:hover{
    background-color: rgba(255, 222, 239, 0.76) ;
}


